body {
  font-family: 'Days One', sans-serif;
  font-family: 'Exo', sans-serif;
    /*font-family: 'Freckle Face', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Hanalei Fill', cursive;
  font-family: 'Sarpanch', sans-serif;*/
  /*background: url('https://i.ibb.co/R7GXbR9/bg.png');
  background: url('https://i.ibb.co/TqGXSJN/bg1.png');*/
  background-color: black;
  background-size: cover;
  background-repeat: repeat;
  color: white;
  margin: 1% 0;
  /*display: flex;
  align-items: center;
  /*height: 100vh;*/
}

@media (max-width: 1000px) {
  body {
    margin: 0 0;
  }
}

.bg {
  background-image: url("https://fortuneatlas.github.io/smoov/images/bg3.jpg");
  background-size: cover;
  width: 100%;
}

@media (max-width: 720px) {
  .bg {
    background-image: url("https://fortuneatlas.github.io/smoov/images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    display: block;
    padding-top: 2rem;
  }
}

.bg5 {
  background-image: url("https://fortuneatlas.github.io/smoov/images/bg5.png");
  background-size: cover;
  width: 100%;
  padding: ;
}

@media (max-width: 720px) {
  .bg5 {
    background-image: url("https://fortuneatlas.github.io/smoov/images/bg5.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: ;
  }
}

.bg6 {
  background-image: url("https://fortuneatlas.github.io/smoov/images/bg6.png");
  background-size: cover;
  width: 100%;
  padding: ;
}

@media (max-width: 720px) {
  .bg6 {
    background-image: url("https://fortuneatlas.github.io/smoov/images/bg6.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: ;
  }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

.bginer {
  padding: 0 10%;
}

@media (max-width: 720px) {
  .bginer {
    padding: 0 2%;
  }
}

.bginer2 {
  padding: 0 20% 0 10%;
}

@media (max-width: 720px) {
  .bginer2 {
    padding: 0 8%;
  }
}

.bginer3 {
  padding: 0 10%;
}

@media (max-width: 720px) {
  .bginer3 {
    padding: 0 5%;
  }
}


.logo {
  width: 100px;
}

@media (max-width: 720px) {
  .logo {
    display: none;
  }
}

.logomobile {
  width: 0px;
}

@media (max-width: 720px) {
  .logomobile {
    width: 80px;
    padding-right: 30px;
  }
}

.textmiddle {
  width: 50rem;
}

@media (max-width: 720px) {
  .textmiddle {
    display: none;
    width: 24rem;
  }
}

.textmiddle2 {
  width: 0;
}

@media (max-width: 720px) {
  .textmiddle2 {
    width: 24rem;
  }
}

.navbar .dropdown {
  position: relative;
  z-index: 10000;
}

.logoimage {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boximage {
  width: 500px;
}

@media (max-width: 1000px) {
  .boximage {
    width: 310px;
    padding-bottom: 4%;
  }
}

.readimage {
  width: 500px;
}

@media (max-width: 1000px) {
  .readimage {
    width: 310px;
    padding-bottom: 4%;
    padding-top: 4%;
  }
}

@media (max-width: 1000px) {
  .row {
    margin: 0;
  }
}

p {
  margin-bottom: 0;
}

hr {
  border-top: 0 solid black
    /*#98b3ff*/
  ;
}

@media (max-width: 1000px) {
  hr {
    border-top: 1px solid #373737
      /*#98b3ff*/
    ;
    margin-bottom: 0;
  }
}

.hr-header {
  border-top: 0 solid black
    /*#98b3ff*/
  ;
}

@media (max-width: 1000px) {
  .hr-header {
    border-top: 1px solid #373737
      /*#98b3ff*/
    ;
    margin-bottom: 0;
    margin-top: 4px;
  }
}

h1 {
  font-size: 18px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 10px;
  }
}

h2 {
  font-size: 80%;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

@media (max-width: 1000px) {
  p {
    font-size: 12px;
  }

  h4 {
    font-size: 6px;
  }

  h3 {
    font-size: 8px;
  }
}

h5 {
  font-size: 28px;
}

@media (max-width: 1000px) {
  h5 {
    font-size: 17px;
  }
}

h6 {
  font-size: 16px;
}

@media (max-width: 1000px) {
  h6 {
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .titles {
    margin-bottom: 1px;
  }
}

.titles {
  margin-bottom: 1px;
}

a {
  text-decoration: none !important;
}

.pickhover:hover {
  color: #8fff94;
  background-color: #8fff94;
}

.rotate {
  animation: rotation 9s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}

.btn {
  border-radius: 15px;
  background-color: #ffcc00;
}

.dropdown-item {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .dropdown-item {
    font-size: 14px;
  }
}

.bg4 {
  background-image: url("");
  background-size: cover;
  width: 100%;
  padding: 2% 0;
  max-height: 100%;
  display: block;
}

@media (max-width: 720px) {
  .bg4 {
    background-image: url("");
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 2% 0;
  }
}

.video {

  max-width: 100%;
  max-height: 100%;
  padding: 0 12%;
}

@media (max-width: 1030px) {
  .video {
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 0 0 5% 0;
  }
}


.webdivmobile {
  font-size: 0;
}

@media (max-width: 1000px) {
  .webdivmobile {
    font-size: 0;
  }
}

.webdivpicmobile {
  width: 0 !important;
}

@media (max-width: 1000px) {
  .webdivpicmobile {
    width: 0 !important;
  }
}

.colcard {
  padding: 2px;
}

@media (max-width: 1000px) {
  .colcard {
    padding: 0;
  }
}

.card-body {
  padding: 8px 0;
}

@media (max-width: 1000px) {
  .explanation {
    padding: 2% 0 2% 0;
  }
}

.footer {
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
  font-weight: 600;
  color: #8fff94;
  background-color: black;
}

@media (max-width: 1000px) {
  .footer {
    font-size: 12px;
  }
}

input[type=text], select, textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #8fff94;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #8fff94;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
}
